@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}
a {
  text-decoration: none;
}

/* body style  */
body {
  width: 100%;
  max-width: 1440px;
}

/* header section style */
header {
  width: 100%;
  max-width: 1440px;
  height: 652px;
  background-image: url("assets/Hero-bg.png");
}
header .banner {
  width: 998px;
  height: 582px;
  margin: 26px auto 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .banner .image {
  width: 240.28px;
  height: 240px;
  margin-bottom: 32px;
}
header .banner .image img {
  width: 100%;
  height: 100%;
}
header .banner h1 {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  text-align: center;
}
header .banner p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 24px auto 32px;
}
header .banner .link {
  border-radius: 8px;
  background-color: rgb(13, 19, 33);
  padding: 21px 24px 21px 24px;
}
header .banner .link a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
}

/* development section style */
.development {
  max-width: 1140px;
  height: 1395px;
  margin: 74px auto 88px;
  padding: 80px 97px 80px 97px;
  border-radius: 16px;
  background-color: rgba(13, 19, 33, 0.02);
}
.first-content {
  width: 852px;
  height: 115px;
  margin: 0 auto 48px;
  text-align: center;
}
.development .first-content h1 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 24px;
}
.development .first-content p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.development .row1 {
  width: 946px;
  height: 336px;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  background-color: #fff;
}
.development .row1 .content h2 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 10px 0 16px;
}
.development .row1 .content p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 16px 0 32px 0;
  margin-bottom: 32px;
}
.development .row1 .content span {
  width: 171px;
  height: 47px;
  padding: 12px 20px 12px 20px;
}
.development .row1 .content span > a {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
}
.development .row2 {
  width: 946px;
  height: 336px;
  padding: 48px;
  margin: 32px 0;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  background-color: #fff;
}
.development .row2 image {
  width: 240px;
  height: 240px;
}
.development .row2 image > img {
  width: 223.2px;
  height: 208.85px;
}
.development .row2 .content {
  width: 477px;
  height: 219px;
  margin: 10px 0 10px 32px;
}
.development .row2 .content > h2 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.development .row2 .content > p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 16px 0 32px 0;
}
.development .row2 .content span {
  width: 171px;
  height: 47px;
  padding: 12px 20px 12px 20px;
}
.development .row2 .content span > a {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
}

/* My Inspiration section style */
.inspiration {
  border: 3px solid red;
  width: 1140px;
  height: 775px;
  margin: 90px auto 150px;
}
.inspiration h1 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
}
.inspiration p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 24px 144px 48px 144px;
  text-align: center;
}
.inspiration .video {
  width: 1140px;
  height: 614px;
  padding: 32px;
}
.inspiration .video > iframe {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

/* My Current Target section style */
.current-target {
  border: 3px solid rebeccapurple;
  width: 1140px;
  height: 460px;
  margin: 0 auto;
}
.current-target .content {
  width: 852px;
  height: 113px;
  margin: 0 auto 48px;
  text-align: center;
}
.current-target .content h1 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 24px;
}
.current-target .content p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.current-target .items {
  display: flex;
  gap: 24px;
}
.current-target .items .item {
  width: 364px;
  height: 299px;
  padding: 40px;
}
.current-target .items .item > image {
  width: 56px;
  height: 56px;
}
.current-target .items .item > image > img {
  width: 39.68px;
  height: 56px;
}
.current-target .items .item > h6 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}
.current-target .items .html {
  border-radius: 16px;
  background-color: rgba(255, 76, 30, 0.05);
}
.current-target .items .css {
  border-radius: 16px;
  background-color: rgba(0, 76, 232, 0.05);
}
.current-target .items .js {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}
